body {
  min-height: 100vh;
  background: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: black;
}

p {
  line-height: 1.6;
  font-size: 18px;
}

p,
a,
a:visited,
li {
  font-family: "Raleway", sans-serif;
  color: black;
}

a {
  line-height: 1.6;
  font-size: 18px;

  position: relative;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid hotpink;
  transition: all 200ms ease-in-out;
}

a:hover {
  background: hotpink;
  color: white;
}
